/* color theme for this page */
:root {
    --darkestpurple: #210B2C;
    --midpurple: #55286F;
    --lightpurple: #BC96E6;
    --pink: #D8B4E2;
    --magenta: #AE759F;
    --teal: #0BF6E4;
    --purplepurple: #3F0864;
}

/* making sure background is cohesive for whole page */
html {
    background-color: var(--darkestpurple);
    color: var(--lightpurple);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

h1 {
    color: var(--teal);
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
    font-family: Roboto;
}

header {
    background-color: black;
    padding: .5rem;
    margin-bottom: .5rem;
    font-family: Roboto;
}

.intro-div {
    padding: 1rem;
    color: var(--teal);
    width: 40rem;
    height: 25rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
    /* Font for readability */
    font-family: Roboto;
   
}

.footer {
    color: var(--teal);
    padding: 10px 10px 0px 10px;
    width: 100%;
    /* Height of the footer*/
    background: black;
    text-align: center;
    font-family: Roboto;
    position: absolute;
    bottom: 0;
    font-family: Roboto;

}

.column {
    display: flex;
    justify-content: center;
}

ul {
    display: inline-flex;
    gap: 5rem;
}
footer{
   position: sticky;
}
footer ul li {
    margin: 3px;
}

footer ul li a {
    color: var(--lightpurple);
    text-align: center;
}

.footer ul li a:hover {
    color: var(--pink);
}

html,
body {
    height: 100%;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* play button effects */
.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}
/* button effects before user clicks */
button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
/* play button on hover */
.button:hover,
.button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
    opacity: 1;
}
/* play button after user clicks */
button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
    animation: none;
    display: none;
}
/* play button ripple effect */
@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}