:root {
  --darkestpurple: #210B2C;
  --midpurple: #55286F;
  --lightpurple: #BC96E6;
  --pink: #D8B4E2;
  --magenta: #AE759F;
}

header{
background-color: var(--darkestpurple);

}

.title {
  font-size: 50px;
  color: white;
  font-family: 'Permanent Marker', cursive;
  padding-bottom: 8px;
}
.subtitle{
  font-size: 35px;
  color: var(--pink);
  font-family: 'Permanent Marker', cursive;
}
.subtitle2{
  font-size: 20px;
  color: var(--lightpurple);
  font-family: 'Permanent Marker', cursive;
}