:root {
    --darkestpurple: #210B2C;
    --midpurple: #55286F;
    --lightpurple: #BC96E6;
    --pink: #D8B4E2;
    --magenta: #AE759F;
}

html {
    background-color: var(--darkestpurple);
}
#input-title {
    color: white;
}
.input {

  width: 250px;
  background-color: rgb(175, 147, 199);
}

.bnt, artist-drop{
  display: flex;
  justify-content: center;
  
}
/* issue if this is moved to center, the drop down results does not follow */
.genre{ 
display: flex;
justify-content: center;
margin-bottom: 65px;
}

.genre-title{
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-family: 'Permanent Marker';
}
.button{
  margin-left: 10px;
} */

.btn {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--midpurple);
}

.glow-on-hover {
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 30px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.spotify-container {
    background-color: var(--darkestpurple);
    display: flex;
    gap: 30px;
}

header{
background-color: var(--darkestpurple);

}

.title {
  font-size: 50px;
  color: white;
  font-family: 'Permanent Marker', cursive;
  padding-bottom: 8px;
}
.subtitle{
  font-size: 35px;
  color: var(--pink);
  font-family: 'Permanent Marker', cursive;
}
.subtitle2{
  font-size: 20px;
  color: var(--lightpurple);
  font-family: 'Permanent Marker', cursive;
}

footer {
  background: var(--darkestpurple);
  bottom: 0;
  color: var(--lightpurple);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px 10px 0px 10px;
  position: sticky;
  text-align: center;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

footer ul li {
  margin: 10px;
}

footer ul li a {
  color: var(--lightpurple);
  text-align: center;
}

footer ul li a:hover {
  color: var(--pink);
}